{% load django_vite %}
{% load js_routes_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/static/imgs/ClairvoyanceLogo.svg" />

    {% vite_hmr_client %}
    {% vite_asset 'src/main.js' %}

    <title>Clairvoyance</title>
</head>

<body class="bg-background min-h-screen font-sans antialiased dark">
{% block inertia %}{% endblock %}
{% js_routes %}
</body>
</html>